.input{
    height: 50px;
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    width: 100%;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 15px;
    color: lightgray;
}

.send{
    display: flex;
    align-items: center;
    gap: 10px;
}

img{
    cursor: pointer;
}

button{
    border: none;
    color: rgb(45, 42, 42);
    background-color: #8da4f1  !important;
}
