.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(4, 78, 93);
    height: 50px;
    padding: 0 20px; /* Adjust padding */
    justify-content: space-between;
    color: aqua;
}

.logo {
    font-weight: bold;
    color: aqua;
}

.user {
    display: flex;
    align-items: center; /* Align items vertically */
}

.username {
    font-weight: 500;
    color: aqua;
    margin: 0 5px; /* Adjust margin */
}

img {
    background-color: #ddddf7;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

button {
    background-color: #212139;
    margin: 0 5px; /* Adjust margin */
    color: #3f3f58;
    font-size: 12px; /* Increase font size for better visibility */
    border: none;
    cursor: pointer;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .navbar {
        padding: 0 10px; /* Reduce padding */
    }

    .username, button {
        display: none; /* Hide username and button on small screens */
    }
}
