.home {
    background-color: rgb(8, 64, 66);
    height: 80vh;
    width: 100vw;
    max-width: 1200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 120px; /* Center horizontally */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; /* Wrap flex items to next row if needed */
}

.sidebar {
    background-color: #1b3a44;
    flex: 1; /* Make sidebar flexible */
    min-width: 200px; /* Minimum width for sidebar */
    border-right: 1px solid black;
}

.chat {
    flex: 2; /* Make chat flexible */
    min-width: 300px; /* Minimum width for chat */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack flex items vertically on smaller screens */
    }

    .sidebar, .chat {
        flex: 1; /* Equal width for sidebar and chat */
        min-width: 0; /* Reset min-width */
        border: none; /* Remove border */
    }
}
